<h2>About Me</h2>

<p>My name is <mark>Catherine Nguyen</mark>. This is my website where I show off all of my comics that I draw about my life. I originally created this website as an assignment for CS 321 while attending ODU.</p>

<p>Here are a list of things that are required for the assignment that I could not fit anywhere else in my website.</p>

<b>SVG Drawing</b><br/>

<svg width="640" height="480">
    <rect transform="rotate(-14, 217, 120)" height="138" width="148" y="48" x="208" fill="#49b6ff" />
    <rect transform="rotate(14, 217, 120)" height="138" width="148" y="48" x="53" fill="#49b6ff" />
    <ellipse ry="179" rx="178" cy="219" cx="203" fill="#49b6ff" />
    <ellipse ry="22" rx="22" cy="154" cx="148" stroke-width="1.5" stroke="#000" fill="#ffffff" />
    <ellipse ry="22" rx="22" cy="150" cx="290" stroke-width="1.5" stroke="#000" fill="#ffffff" />
    <line y2="275" x2="178" y1="229" x1="126" stroke="#000"/>
    <line y2="275" x2="178" y1="254" x1="200" stroke="#000"/>
    <line y2="252" x2="200" y1="276" x1="221" stroke="#000"/>
    <line y2="240" x2="285" y1="276" x1="222" stroke="#000"/>
    <line y2="168" x2="438" y1="191" x1="387" stroke="#000"/>
    <text font-family="sans-serif" font-size="24" y="166" x="444">Meow!</text>
</svg>
<br/>
<b>Geolocation on Google Map</b><br/>

<button onclick="getLocation()" class="btn btn-primary">Click Here</button>
<p id="errors" class="text-danger"></p>

<div id="mapholder"></div>

<script src="../../Content/Scripts/Geolocation.js"></script>