<h2>Contact Me</h2>

<address>
    If you have any questions or comments about the comic or the website feel free to contact me at <a href="mailto:catherinepqn@gmail.com">catherinepqn@gmail.com</a>! 
</address>
